/*
 * Empty Stylesheet file.
 */
.root{
    -fx-background-image: url("/images/bg.jpg");
}


.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
    -fx-margin-top: 8px;
}

#title{
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-fill: #FFFFFF;
   -fx-effect: innershadow( three-pass-box , rgba(200,200,200,0.7) , 6, 0.0 , 0 , 2 );
}

.btn {
  -fx-background: #3498db;
  -fx-background-color: linear-gradient(to bottom, #3498db, #2980b9);
  -fx-background-radius: 100,100,100,100;
  -fx-font-family: Arial;
  -fx-text-fill: White;
  -fx-font-weight: bold;
  -fx-font-size: 18;
}


.btn:hover {
  -fx-background: #3cb0fd;
  -fx-background-color: linear-gradient(to bottom, #3cb0fd, #3498db);
}